.App {
  text-align: center;
}
html,body,#root {
  height: 100%;
}
.header-menu,
.footer-menu {
  width: 100%;
  height: 10%;
}
.main-container {
  width: 100%;
  height: 80%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
}